pandas
statsmodels
patsy
bunch
sqlobject
psycopg2
pytz
python-dateutil
ephem
numexpr
bottleneck
scipy
pygments 
matplotlib
sympy
pymc
scikit-learn
jsonpointer
jsonschema
pydns
xlrd
mistune
pulp
pymongo
python-memcached